.abilities-container {
    position: absolute;
    display: flex;
    width: auto;
    right: 10%;
    top: 5%;
    align-items: right;
    height: 100px;
    justify-content: row;
}

.ability-icon {
    position: relative;
    width: 100px;
    object-fit: cover;
    height: 100%;
    box-sizing: border-box;
    border: 2px #FFD700 solid;
    border-radius: 5%;
}

/* ABILITY FORMATTING ON HOVER */

.ability-name {
    color: #FFD700;
    font-size: 1.5rem;
    width: auto;
}

.ability-description {
    color: white;
    position: relative;
    display: block;
    width: 80%;
    top: 5%;
    left: 10%;
}

/* TOOLTIP ON HOVER OVER ABILITY */

.tooltip {
    margin-top: 3%;
    margin-right: 5%;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.tooltiptext {
    visibility: hidden;
    top: 100px;
    width: 200px;
    height: 350px;
    background-color:black;
    opacity: 0.5;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


