.champion-container {
    background-color: #061C25;
    position: relative;
    display: inline-block;
    width: 100%;
    left: 0%;
    height: 100%;
}

.championlist-container {
    background-color: #061C25;
}

.champ-header {
    position: absolute;
    /* border: 1px black solid; */
    width: 25%;
    height: 35%;
    left: 5%;
    top: 5%;
}

.champ-header img{
    border: solid #FFD700 2px;
    border-radius: 50%;
}

.champ-name {
    position: absolute;
    font-size: 2rem;
    font-weight: 900;
    padding: 10px 15px;
    color: #FFD700;
}
