.champion-container {
    position: relative;
    display: inline-block;
    width: 65%;
    left: 16.5%;
    height: 100%;
    border: 2px black solid;
}

.champ-header {
    position: absolute;
    /* border: 1px black solid; */
    width: 25%;
    height: 35%;
    left: 5%;
    top: 5%;
}

.champ-name {
    position: absolute;
    font-size: 2rem;
    font-weight: 900;
    padding: 10px 15px;
}