.items-container {
    position: absolute;
    display: flex;
    width: 25%;
    height: 18%;
    background-color: rgb(44, 44, 44);
    bottom: 5%;
    right: 5%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

/* ITEM DROPDOWN SEARCH */

.dropdown-items {
    position: absolute;
    width: 100%;
    top: -35%;
    left: 0;
}

/* ITEMS SLOT CSS */

.itemslot {
    position: relative;
    height: 45%;
    width: auto;
    border-radius: 5%;
    border: 1px #FFD700 solid;
}

.item-icon {
    position: relative;
    width: auto;
    object-fit: cover;
    height: 100%;
    box-sizing: border-box;
    border: 1px #FFD700 solid;
    border-radius: 5%;
}

.add-item-option {
    text-align: center;
}