.champions-modal {
    position: relative;
    width: 20%;
    left: 1vw;
    top: 1vh;
    height: auto;
    border: 1px black solid;
}

.champ-icon {
    position: relative;
    width: 45px;
    height: 45px;
}

.champ-icon:hover {
    opacity: 0.5;
}