.stats-container {
    border: 1px #FFD700 solid;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 1%;
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 25%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #FFD700;
}

/* STATISTICS BOX DIV */

.role {
    position: absolute;
    top: -11%;
}

.level-stat {
    position: absolute;
    top: -11%;
    right: 0;
}

.stat {
    position: relative;
    font-size: 1rem;
    padding: 4%;
    left: 5%;
    width: 30%;
    height: 5%;
}

.stats-container img {
    margin-right: 10px;
}