.stats-container {
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 50%;
    height: 45%;
    border: 1px black solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* STATISTICS BOX DIV */

.role {
    position: absolute;
    top: -11%;
}

.level-stat {
    position: absolute;
    top: -11%;
    right: 0;
}

.stat {
    position: relative;
    font-size: 1rem;
    padding: 4.8%;
    width: 49%;
    height: 5%;
}
